.root{
    common_background_color: white;
    -fx-background: common_background_color;
}

.titled-pane > .title {
    -fx-background-color: common_background_color;
    -fx-body-color: white;
    -fx-border-color: grey;
    -fx-border-width: 0.3px;
}

.titled-pane > .content {
    -fx-background-color: common_background_color;
    -fx-body-color: white;
    -fx-border-color: grey;
    -fx-border-width: 0.3px;
}

.grid-pane{
   -fx-border-color: black;
}

.button{
    -fx-background-color: common_background_color;
}

#sidebarButton{
    -fx-alignment: center-left;
}

#sidebarButton:pressed{
    -fx-text-fill: red;
}

#contentScrollPane{
    -fx-border-width: 0px;
}

.titled-pane > .title:hover {
    -fx-background-color: #00CCFF;
    -fx-text-fill: white;
    -fx-font-size: 17;
}

.titled-pane > .title:pressed {
    -fx-background-color: #0033FF;
    -fx-text-fill: white;
    -fx-font-size: 17;
}

.button:pressed{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.button:hover{
    -fx-background-color: #00CCFF;
    -fx-text-fill: white;
}

.text-field {
    -fx-border-color: grey;
}

.text-field:focused {
    -fx-border-color: red;
}

#layout_flowPane_Review{
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

#layout_flowPane_ReviewContainer{
    -fx-background-color: common_background_color;
    -fx-border-color: grey;
}

#layout_flowPane_ScenarioContainer{
    -fx-border-color: grey;
}

#btnExit{
    -fx-background-color: white;
    -fx-border-width: 0.3px;
    -fx-font-size: 18;
    -fx-border-color: grey;
}

#btnExit:hover{
    -fx-background-color: #990000;
    -fx-font-size: 20;
    -fx-effect: dropshadow( three-pass-box , #990000 ,15, 0.1, 0, 0);
    -fx-border-width: 0.3px;
}

#btn_summaryOk{
    -fx-background-color: common_background_color;
    -fx-border-width: 0.3px;
    -fx-border-color: grey;
    -fx-opacity: 1;
}

#btn_summaryOk:hover{
    -fx-background-color: #990000;
    -fx-effect: dropshadow( three-pass-box , #990000 ,15, 0.1, 0, 0);
    -fx-border-width: 0.3px;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#btn_add{
    -fx-background-color: common_background_color;
    -fx-border-width: 0.3px;
    -fx-border-color: grey;
    -fx-opacity: 1;
}

#btn_add:hover{
    -fx-background-color: #009933;
    -fx-effect: dropshadow( three-pass-box , #009933 ,15, 0.1, 0, 0);
    -fx-border-width: 0.3px;
    -fx-opacity: 1;
}

#btn_clearAll{
    -fx-background-color: common_background_color;
    -fx-border-width: 0.3px;
    -fx-border-color: grey;
    -fx-opacity: 1;
}

#btn_clearAll:hover{
    -fx-background-color: #990000;
    -fx-effect: dropshadow( three-pass-box , #990000 ,15, 0.1, 0, 0);
    -fx-border-width: 0.3px;
    -fx-opacity: 1;
}