.root{
    common_background_color: white;
    -fx-background: common_background_color;

    rounded_corner: 10,10,0,0;

    background_fail_color: #FF3300;
    background_fail_text_color: white;

    background_warning_color: #FFFF66;
    background_warning_text_color: black;

    background_ok_color: #00CC33;
    background_ok_text_color: black;

    background_idle_color: #888888;
    background_idle_text_color: black;

    button_positive_hover_background_color: #00CC00;
    button_positive_hover_text_color: black;
    button_positive_hover_effect: dropshadow( three-pass-box , #009933 ,15, 0.1, 0, 0);

    button_negative_hover_background_color: #CC3300;
    button_negative_hover_text_color: white;
    button_negative_hover_effect: dropshadow( three-pass-box , #990000 ,15, 0.1, 0, 0);

    button_normal_hover_color: #00CCFF;
    button_normal_text_color: black;
    button_normal_border_color: grey;
    button_normal_border_width: 0.3px;

    lightBox_background_color: rgba(0, 0, 0, 0.8);
}

.server_monitor_background_pass{
    -fx-background-color: background_ok_color;
    -fx-text-fill: background_ok_text_color;
    -fx-font-weight: normal;
}
.server_monitor_background_fail{
    -fx-background-color: background_fail_color;
    -fx-text-fill: background_fail_text_color;
    -fx-font-weight: normal;
}
.server_monitor_background_warning{
    -fx-background-color: background_warning_color;
    -fx-text-fill: background_warning_text_color;
    -fx-font-weight: normal;
}
.server_monitor_background_idle{
    -fx-background-color: background_idle_color;
    -fx-text-fill: background_idle_text_color;
    -fx-font-weight: normal;
}

.server_monitor_status_background_pass{
    -fx-background-color: #99FFCC;
    -fx-text-fill: background_ok_text_color;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.server_monitor_status_background_fail{
    -fx-background-color: #CCCCCC;
    -fx-text-fill: background_fail_text_color;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.server_monitor_status_background_warning{
    -fx-background-color: #FFFFCC;
    -fx-text-fill: background_warning_text_color;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.server_monitor_status_background_idle{
    -fx-background-color: #A0A0A0;
    -fx-text-fill: background_idle_text_color;
    -fx-border-radius: 5,5,0,0;
    -fx-background-radius: 5,5,0,0;
}

.titled-pane > .title {
    -fx-background-color: common_background_color;
    -fx-body-color: white;
    -fx-border-color: grey;
    -fx-border-width: 0.3px;
}

.titled-pane > .content {
    -fx-background-color: common_background_color;
    -fx-body-color: white;
    -fx-border-color: grey;
    -fx-border-width: 0.3px;
}

.grid-pane{
   -fx-border-color: black;
}

.button{
    -fx-background-color: common_background_color;
}


#sidebarButton{
    -fx-alignment: center-left;
}

#sidebarButton:pressed{
    -fx-text-fill: red;
}

#contentScrollPane{
    -fx-border-width: 0px;
}

.titled-pane > .title:hover {
    -fx-background-color: #00CCFF;
    -fx-text-fill: white;
    -fx-font-size: 17;
}

.titled-pane > .title:pressed {
    -fx-background-color: #0033FF;
    -fx-text-fill: white;
    -fx-font-size: 17;
}

.button:pressed{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.button:hover{
    -fx-background-color: #00CCFF;
    -fx-text-fill: white;
}

.text-field {
    -fx-border-color: grey;
}

.text-field:focused {
    -fx-border-color: red;
}

.text-field:disabled{
    -fx-background-color: grey;
}

.combo-box:disabled{
    -fx-background-color: grey;
}

#layout_flowPane_Review{
    -fx-background-color: lightBox_background_color;
}

#layout_flowPane_ReviewContainer{
    -fx-background-color: common_background_color;
    -fx-border-color: grey;
}

#layout_flowPane_DeleteScenario_LightBox_Content{
    -fx-background-color: common_background_color;
    -fx-border-color: grey;
    -fx-border-width: 0.3px;
}

#layout_flowPane_DeleteScenario_LightBox_Background{
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

#layout_flowPane_DeleteScenario_Main{
    -fx-background-color: common_background_color;
    -fx-border-color: grey;
    -fx-border-width: 0.3px;
}

#layout_Vbox_SivaDev{
    -fx-background-color: common_background_color;
    -fx-border-color: button_normal_border_color;
    -fx-border-width: button_normal_border_wwidth;
}

.titledPane_text{
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.button_standard{
    -fx-background-color: common_background_color;
    -fx-text-fill: button_normal_text_color;
    -fx-border-color: button_normal_border_color;
    -fx-border-width: 0.3;
}

.button_standard_positive:hover{
    -fx-background-color: button_positive_hover_background_color;
    -fx-text-fill: button_positive_hover_text_color;
    -fx-effect: button_positive_hover_effect;
    -fx-border-color: button_normal_border_color;
}

.button_standard_negative:hover{
    -fx-background-color: button_negative_hover_background_color;
    -fx-text-fill: button_negative_hover_text_color;
    -fx-effect: button_negative_hover_effect;
    -fx-border-color: button_normal_border_color;
}

.deployment_buildInfo_idle{
    -fx-background-color: background_idle_color;
    -fx-text-fill: background_idle_text_color;
    -fx-font-weight: normal;
    -fx-font-size: 11;
}

.deployment_buildInfo_ok{
    -fx-background-color: background_ok_color;
    -fx-text-fill: background_ok_text_color;
    -fx-font-weight: normal;
    -fx-font-size: 11;
}

.deployment_buildInfo_fail{
    -fx-background-color: background_fail_color;
    -fx-text-fill: background_fail_text_color;
    -fx-font-weight: normal;
    -fx-font-size: 11;
}

.deployment_buildStatus_idle{
    -fx-background-color: background_idle_color;
    -fx-text-fill: background_idle_text_color;
    -fx-font-weight: normal;
    -fx-font-size: 11;
}

.deployment_buildStatus_ok{
    -fx-background-color: background_ok_color;
    -fx-text-fill: background_ok_text_color;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.deployment_buildStatus_fail{
    -fx-background-color: background_fail_color;
    -fx-text-fill: background_fail_text_color;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}