.root{
    -fx-background: white;
}

.titled-pane > .title {
    -fx-background-color: white;
    -fx-body-color: white;
    -fx-border-color: grey;
    -fx-border-width: 0.3px;
}

.titled-pane > .content {
    -fx-background-color: white;
    -fx-body-color: white;
    -fx-border-color: grey;
    -fx-border-width: 0.3px;
}

.grid-pane{
   -fx-border-color: black;
}

.vbox{
    -fx-alignment: center-left;
}

.button{
    -fx-background-color: white;
    -fx-border-width: 0.3px;
}

#sidebarButton{
    -fx-alignment: center-left;
}

#contentScrollPane{
    -fx-border-width: 0px;
}

.titled-pane > .title:hover {
    -fx-background-color: #00CCFF;
    -fx-text-fill: white;
    -fx-font-size: 17;
}

.titled-pane > .title:pressed {
    -fx-background-color: #0033FF;
    -fx-text-fill: white;
    -fx-font-size: 17;
}

.button:pressed{
    -fx-background-color: #0066FF;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #00CCFF;
    -fx-text-fill: white;
}

.vbox:hover{
    -fx-background-color: #00CCFF;
}

#btnExit{
    -fx-background-color: white;
    -fx-border-width: 0.3px;
    -fx-font-size: 18;
    -fx-border-width: 1px;
}

#btnExit:hover{
    -fx-background-color: #990000;
    -fx-font-size: 20;
    -fx-effect: dropshadow( three-pass-box , #990000 ,15, 0.1, 0, 0);
    -fx-border-width: 1px;
 }